*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: 'Open Sans' , sans-serif;
}
body{
	font-family: inherit;
}
:root {
	--color-white: #fff;
	--color-light-white: #eee;

	--color-sea: #1e88e5;
	--color-purple: #673ab7;
	--color-light-blue: #4fc3f7;

	--color-orange: #ff3c00;

	--color-light-black: #222; 
	--color-black: #000;

	--shadow: rgba(0,0,0, .4);



}
.app {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, var(--color-light-blue), var(--color-purple));
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
  height: 80vh;
  width: 80%;
  box-shadow: 0 2rem 4rem var(--shadow);
  background-color: var(--color-white);
}
.result-screen {
  height: 19vh;
  font-size: 8rem;
  font-weight: 600;
  /* To display the value at the bottom-right of the container */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.computation-screen {
  height: 6vh;
  font-size: 2.5rem;
  
  /* To display the value at the bottom-right of the container */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.screen {
  height: 25vh;
  width: 100%;
  padding: 0 2rem;
  overflow: hidden;
  white-space: no-wrap;
  color: var(--color-light-white);
  background-color: var(--color-sea);
}
.keypad__row {
  height: 11vh; /* (80vh calculator - 25vh screen) / 5 keypadRow components = 11vh */
  width: 100%;
  display: flex; /* To control the dimension */
  color: white;
}
.keypad {
  height: 55vh;
  width: 100%;
}
.btn {
  width: 25%;
  height: 100%;
  font-size: 3rem;
  font-family: inherit;
  background-color: var(--color-white);
  border: 5px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}

.btn:active {
  transform: scale(.95);
  color: var(--color-light-white);
  background-color: var(--color-sea);
}
.btn--large {
  width: 50%;
  color: var(--color-white);
  background-color: var(--color-sea);
  transition: all .2s;
}
.btn--large:hover {
  background-color: var(--color-sea);
  color: var(--color-white);
}